# Ignore Python cache files
__pycache__/
*.pyc
source_conwell_code/
figures_/
trained_models/
**/fmri_dicts/
**/fmri_figs/
**/data_frames/
**/between_models_cor/
**/data_frames/
**/test_runs/
**/simulation_results/
Partial_Information_Decomposition/Idep_Simulations/figures/
file_ignore/
library_wrappers/evil_twin_check_outputs/
Codex_opreations/
